section.feature-landing {
  // splitting page into different colors
  // https://medium.com/@miguelznunez/html-css-how-to-split-a-background-into-2-colors-1cdc394deb3d

  background: linear-gradient(
    to right,
    #727670 0%,
    #727670 50%,
    #19171a 50%,
    #19171a 100%
  );
  --svg-height: 265px;

  .svg-content-seperator {
    // height: 6.2vw;
    height: calc(var(--svg-height) / 2 - 12.5px);
    // background-color: red;
  }
  svg {
    height: var(--svg-height);
  }
}
