.image {
  // transform: scale(1.5) skew(12deg);
  object-fit: cover;
  object-position: 100% center;
  -webkit-user-drag: none;
}

.item {
  //   width: 20vmin;
  //   height: 35vmin;
  overflow: hidden;
  border-radius: 20px;
  //   transform: skew(-12deg);
  &:hover {
    // pointer-events: all !important;
    cursor: pointer;
  }
  pointer-events: all;
}

.image-track {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 0%;
  user-select: none; /* -- Prevent image highlighting -- */
  pointer-events: none !important;
}

.parallax-slider {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  margin-left: auto;
  overflow: hidden !important;
  // border: 0.01px solid rgba(211, 210, 210, 0.459);
  border-radius: 20px;
  &:hover {
    cursor: grab;
  }
  // transform: skew(-12deg);
}
